[submodule "ErrorDashboardClient"]
	path = ErrorDashboardClient
	url = https://github.com/HiQ-Apps/ErrorDashboardClient.git
[submodule "ErrorDashboardServer"]
	path = ErrorDashboardServer
	url = https://github.com/HiQ-Apps/ErrorDashboardServer.git
[submodule "ErrorDashboardSDK"]	
	path = ErrorDashboardSDK
	url = https://github.com/HiQ-Apps/ErrorDashboardClientSDK.git
[submodule "ErrorDashboardJSTest"]
	path = SDKTest
	url = https://github.com/HiQ-Apps/test-sdk.git